<ion-header *ngIf="mobile">
  <ion-toolbar color="toolbar" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" fill="clear" *ngIf="!tablet">
        <ion-icon name="close" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
      <ion-button *ngIf="tablet" (click)="dismiss()" fill="clear">
        <ion-label translate>close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label color="dark">
      <span *ngIf="passwordRecoveryToken" translate>login-recover-psswd</span>
      <span *ngIf="!passwordRecoveryToken" translate>prof-new-psswd</span>
    </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" style="font-weight: 600" *ngIf="formChanged" translate (click)="submitForm()" fill="clear">submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="white">
  <ion-grid class="ion-no-padding ion-no-margin full-height" *ngIf="isLoading">
    <ion-row class="full-height">
      <ion-col size="12" class="ion-text-center full-height ion-align-items-center">
        <ion-spinner style="width: 50px;height: 50px;" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading" class="ion-padding">
    <button style="display: none" #submitBtn></button>
    <div padding>
      <h4 class="modal-title" translate *ngIf="!mobile">
        <span *ngIf="passwordRecoveryToken" translate>login-recover-psswd</span>
        <span *ngIf="!passwordRecoveryToken" translate>prof-new-psswd</span>
      </h4>
      <ion-item lines="none">
        <div style="width: 100%">
          <div>
            <ion-input [type]="showPassword('password')" style="margin-top: 16px"
                       formControlName="password"
                       [placeholder]="'login-password' | translate"
            ></ion-input>
            <ion-icon class="see-icon" color="primary" name="eye" (click)="setShowPassword('password')"></ion-icon>
          </div>
          <div style="margin-top: 6px">
            <div *ngIf="(passwordResetForm.controls['password'].hasError('hasCapitalCase') || (passwordResetForm.value.password==null || passwordResetForm.value.password.length<1))">
              <ion-label color="danger">
                <ion-icon name="close-circle-outline"></ion-icon> <span translate="">reg-cap1</span>
              </ion-label>
            </div>
            <div *ngIf="!passwordResetForm.controls['password'].hasError('hasCapitalCase') && passwordResetForm.value.password!=null && passwordResetForm.value.password.length>0">
              <ion-label color="success">
                <ion-icon name="checkbox-outline"></ion-icon> <span translate="">reg-cap1</span>
              </ion-label>
            </div>
            <div *ngIf="passwordResetForm.controls['password'].hasError('hasSmallCase') || (passwordResetForm.value.password==null || passwordResetForm.value.password.length<1)">
              <ion-label color="danger">
                <ion-icon name="close-circle-outline"></ion-icon> <span translate="">reg-reg1</span>
              </ion-label>
            </div>
            <div *ngIf="!passwordResetForm.controls['password'].hasError('hasSmallCase') && passwordResetForm.value.password!=null && passwordResetForm.value.password.length>0">
              <ion-label color="success">
                <ion-icon name="checkbox-outline"></ion-icon> <span translate="">reg-reg1</span>
              </ion-label>
            </div>
            <div *ngIf="passwordResetForm.controls['password'].hasError('hasNumber') || (passwordResetForm.value.password==null || passwordResetForm.value.password.length<1)">
              <ion-label color="danger">
                <ion-icon name="close-circle-outline"></ion-icon> <span translate="">reg-fig1</span>
              </ion-label>
            </div>
            <div *ngIf="!passwordResetForm.controls['password'].hasError('hasNumber') && passwordResetForm.value.password!=null && passwordResetForm.value.password.length>0">
              <ion-label color="success">
                <ion-icon name="checkbox-outline"></ion-icon> <span translate="">reg-fig1</span>
              </ion-label>
            </div>
            <div *ngIf="passwordResetForm.controls['password'].hasError('minlength') || (passwordResetForm.value.password==null || passwordResetForm.value.password.length<1)">
              <ion-label color="danger">
                <ion-icon name="close-circle-outline"></ion-icon> <span translate="">reg-char8</span>
              </ion-label>
            </div>
            <div *ngIf="!passwordResetForm.controls['password'].hasError('minlength') && passwordResetForm.value.password!=null && passwordResetForm.value.password.length>0">
              <ion-label color="success">
                <ion-icon name="checkbox-outline"></ion-icon> <span translate="">reg-char8</span>
              </ion-label>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none">
        <div style="width: 100%">
          <div>
            <ion-input [type]="showPassword('matchPassword')" style="margin-top: 16px"
                       formControlName="matchingPassword"
                       [placeholder]="'reg-cfm-psswd' | translate"
            ></ion-input>
            <ion-icon class="see-icon" color="primary" name="eye" (click)="setShowPassword('matchPassword')"></ion-icon>
          </div>
          <div *ngIf="resetFormSubmitted && (passwordResetForm.controls['matchingPassword'].hasError('required') || passwordResetForm.controls['matchingPassword'].hasError('matchOther'))">
            <ion-label color="danger" translate>reg-psswd-match-error</ion-label>
          </div>
          <div *ngIf="!resetFormSubmitted && passwordResetForm.controls['matchingPassword'].hasError('matchOther')">
            <ion-label color="danger" translate>reg-psswd-match-error</ion-label>
          </div>
        </div>
      </ion-item>
    </div>
  </form>
</ion-content>
<ion-footer *ngIf="!mobile" style="text-align: right" class="ion-padding">
  <ion-button  (click)="dismiss()" fill="clear" color="dark" translate type="button">close</ion-button>
  <ion-button  (click)="submitForm()" translate>submit</ion-button>
</ion-footer>
