<ion-header *ngIf="mobile">
  <ion-toolbar color="toolbar" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" fill="clear" *ngIf="!tablet">
        <ion-icon name="close" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
      <ion-button *ngIf="tablet" (click)="dismiss()" fill="clear">
        <ion-label translate>close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title translate>
      login-recover-psswd
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" style="font-weight: 600" translate (click)="submitForm()" fill="clear">submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="white">
  <div class="loading-cover-desktop-modal" *ngIf="isLoading">
    <div style="position: absolute; top: 50%; left: calc(50% - 37px);z-index: 10000;"><ion-spinner color="secondary" style="height: 75px; width: 75px"></ion-spinner></div>
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="ion-padding">
    <button style="display: none" #submitBtn></button>
    <h3 *ngIf="!mobile" class="ion-text-center" style="width: 100%" translate>login-recover-psswd</h3>
    <ion-item lines="none" style="--background: var(--ion-color-white)">
      <ion-input type="email"
                 formControlName="username"
                 email
                 placeholder="example@example.com"
      ></ion-input>
    </ion-item>
    <ion-label *ngIf="formSubmitted && resetPasswordForm.controls.username.hasError('required')" color="danger" translate>login-email-error</ion-label>
    <ion-label *ngIf="!formSubmitted && resetPasswordForm.controls.username.hasError('pattern')" color="danger" translate>login-email-error</ion-label>
  </form>
</ion-content>
<ion-footer class="ion-padding" *ngIf="!mobile" style="text-align: right; padding-top: 0">
  <ion-button (click)="dismiss()" fill="clear" color="dark" translate>close</ion-button>
  <ion-button mode="md" (click)="submitForm()" translate>submit</ion-button>
</ion-footer>
