ion-item{
  --inner-padding-end: 0px;
  --padding-start:16px;
  --background: var(--ion-color-background)!important;

}

.select-dropdown-icon{
  margin-right: 32px;
}

mat-form-field{
  width: 100%;
}
