ion-input {
  color: var(--ion-color-dark)!important;
}

.margin-top {
  margin-top: 16px;
}

.search-location{
  margin: 16px 0;
 width: 100%;
  height: 40px;
  z-index: 2;
  background: var(--ion-color-white);
  border: none;
  border-bottom: 1px solid var(--ion-color-gray);
}

@media (max-width: 768px) {
  ion-input, ion-textarea{
    padding: 0 16px!important;
  }

  .search-location{
    border: 1px solid var(--ion-color-medium);
    padding: 0 16px;
    background: var(--ion-color-background);
    -webkit-border-radius: 50px!important;
    -moz-border-radius: 50px!important;
    border-radius: 50px!important;
  }
}

:host ::ng-deep .no-padding div.mat-form-field-wrapper{
  padding: 0;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px
}

:host ::ng-deep .intl-code-input{
  color: var(--ion-color-dark);
}

.placeholder-select option {
  color: #000000;
}
.placeholder-select option:first-child {
  color: #444444;
  font-style: italic;
  font-weight: bold;
}
.placeholder-select.empty {
  color: #7F7F7F;
}

::ng-deep .mat-form-field-wrapper{
  margin-top: 16px!important;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: var(--ion-color-gray) !important;
}

::ng-deep .phone-holder .mat-select-trigger{
  margin-bottom: 16px!important;
}

.time-picker{
  text-align: center;
  padding-bottom: 0;
  padding-left: 0;
  color: var(--ion-color-secondary);
  padding-top: 0;
}

.weekday-holder:hover{
  --background: var(--ion-color-white)!important;
}

::ng-deep .mat-datepicker-toggle *{
  color: var(--ion-color-primary) !important;
}

@media (min-width: 768px) {
  .time-picker{
    font-size: 1.5em;
  }
}

:host ::ng-deep .mat-form-field-flex {
  border-bottom: 1px solid var(--ion-color-gray)!important;
}

:host ::ng-deep .mat-form-field-infix {
  border: 0!important;
}
