<!--<div #draggable id="draggable" class='fc-event'></div>-->
<!--<div id='draggable-el' data-event='{ "title": "my event", "duration": "02:00" }' class='fc-event'>drag me</div>-->
<div id="external-events">
    <p>
        <strong>Draggable Events</strong>
    </p>
    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 1</div>
    </div>
    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 2</div>
    </div>
    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 3</div>
    </div>
    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 4</div>
    </div>
    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 5</div>
    </div>

    <p>
        <input type="checkbox" id="drop-remove">
        <label for="drop-remove">remove after drop</label>
    </p>
</div>