.desktop-title {
  font-weight: 700;
}

.calendar{
  margin-left: 40px;  margin-right: 40px;
}

.slot{
  padding: 8px;
}

.slot-content{
  border-radius: 2px;
  border-left: 6px solid #098C09;
  background: rgba(9,140,9,0.5);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar-desktop {
  margin-left: 80px;
  margin-right: 80px;
}

.calendar-tablet {
  margin-left: 40px;
  margin-right: 40px;
}

.back-desktop{
  position: absolute;
  left: 0;
  top: 71px
}
.back-mobile{
  position: absolute;
  left: 0;
  top: 0
}